<section id="homepage">
    <h1>Welcome to the Forest!</h1>
    <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.6435-9/89059763_10157632696818300_1934223901684924416_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_ohc=3ow9AsqeBeYAX99B1Wu&_nc_ht=scontent-sof1-1.xx&oh=00_AfBvcSQDaLMy1bQb_i908SEshQIQ1ixapZ44aMzM-664aw&oe=64070B28" class="home-img" alt="">
</section>