<section id="register">
    <form action="/register" method="post">
        <label for="username"><span class="label-form">Username:</span> <input type="text" name="username"></label>
        <label for="username"><span class="label-form">Password:</span> <input type="password" name="password"></label>
        <label for="username"><span class="label-form">Repeat Password:</span> <input type="password" name="repass"></label>
        <input type="submit" class="submit-btn" value="Register">
    </form>
</section>