<section id="catalog">
    <h1>Articles:</h1>
    {{#each articles}}
    <div class="article">
        <h3>Author Name: {{authorName}}</h3>
        <h3>Titile: {{title}}</h3>
        <p>Description: {{description}}</p>
    </div>
    {{/each}}
</section>