<h1>Catalog page</h1> 
{{#if products}} 
<p>Here, you can browse in our list of autoparts</p> 
<ul>
    {{#each products}} 
    {{> productCard}} 
    {{/each}}
</ul>
{{else}} 
<p>Sorry our inventory is empty right now</p> 
{{/if}}
