<h2>Product Details:</h3> 
{{!-- {{#if item}} --}}

<h3>Name: {{name}}</h3> 
<p>
    Make: {{make}}
    <br>
    Price: ${{price}} 
</p> 

<button>Edit Item</button> 
<button>Delete item</button>
{{!-- {{else}} 
<p><i>Sorry, the item you are looking for is not in the list...</i></p> 
{{/if}} --}}