<!-- In case of error, you should display div with class "errorContainer" -->
<!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
<!-- <div>
        <div class="errorContainer">
            <p>Error</p>
        </div>
    </div> -->

{{#if errors}}
<div class="error-box">
    {{#each errors}}
    <p>{{msg}}</p>
    {{/each}}
</div>
{{/if}}

<section class="login-form-container">

    <form action="/login" method="post">
        <h3>Login</h3>
        <label>Email</label>
        <input type="email" name="email" class="box" id="" {{#if email}}value="{{email}}"{{/if}}>
        <label>Password</label>
        <input type="password" name="password" class="box" id="" {{#if password}}value="{{password}}"{{/if}}>
        <input type="submit" value="Login" class="btn">
        <p>Don't have an account ? <a href="/register">Create one</a></p>
    </form>
</section>