<h1>Register Page</h1>
<form action="/register" method="post">
    <label for="username">Username:<input type="text" name="username"></label>
    <label for="password">Password:<input type="password" name="password"></label>
    <label for="rePass">Repeat Pass: <input type="password" name="rePass"></label>
    <input type="submit" value="Register">
</form>